@import url('https://fonts.googleapps.com/css2?family=Inter:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --corprincipal: #fafaef;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Inter, Arial, sans-serif;
    line-height: 1.6;
    color: #333333;
    background-color: var(--corprincipal);
}

.header-1 {
    background-color: #872;
    color: white;
    padding: 15px 0;
    position: fixed;
    width: 100%;
}

.nav {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.nav-logo {
    color: var(--corprincipal);
    text-decoration: none;

}
